name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DC_HOST }}
        username: ${{ secrets.DC_USER }}
        password: ${{ secrets.DC_PASS }}
        script: cd ~/www-docker/kopnik-node/ && git pull && docker-compose down && docker-compose up -d && docker exec app sh -c "cd /user/app && npm install" 
