name: "release"
env:
    APP_PORT : "8030"
    DB_USER: "admin"
    DB_PASSWORD: "password"
    DB_DB: "users"
    NODE_ENV: "test"
    DB_PORT: 5432
on:
    push:
        branches:
           - main

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
              - uses: actions/checkout@v2
              - uses: actions/setup-node@v1
                with:
                  node-version: 14.6.0
                  registry-url: https://registry.npmjs.org
              - run: npm install -g typescript
              - run: npm i -D ts-jest
              - run: npm install typescript --save
              - run: npm i
              - run: npm install -g npm@7.3.0
              - run: npm install @types/js-base64 --save-dev
              - run: docker-compose up -d
              - run: docker exec db psql -U admin -c "GRANT USAGE ON SCHEMA public TO <non-admin-user>;"
              - run: docker exec db psql -U admin -c "GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO <non-admin-user>;"
              - run: sleep 60
#              - run: npm test
    deploy:
        name: deploy
        runs-on: ubuntu-latest
        steps:
               - uses: cross-the-world/ssh-pipeline@master
                 with:
                   host: ${{ secrets.DC_HOST }}
                   user: ${{ secrets.DC_USER }}
                   pass: ${{ secrets.DC_PASS }}
                   connect_timeout: 10s
                   script: |
                   ls -la  
