name: "release"

on:
    push:
        branches:
           - main

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
              - uses: actions/checkout@v2
              - uses: actions/setup-node@v1
                with:
                  node-version: 14.6.0
                  registry-url: https://registry.npmjs.org
              - run: npm i
              - run: npm test
