name: "test"
env:
    APP_PORT : ${{ secrets.APP_PORT }}
    DB_USER: ${{ secrets.DB_USER }}
    DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    DB_DB: ${{ secrets.DB_DB }}
    NODE_ENV: ${{ secrets.NODE_ENV }}
    DB_PORT: ${{ secrets.DB_PORT }}
    DB_HOST: ${{ secrets.DB_HOST }}
    VK_CLIENT_ID: ${{ secrets.VK_CLIENT_ID }}
    VK_CLIENT_SECRET: ${{ secrets.VK_CLIENT_SECRET }}
    VK_SVETOSLAV_TOKEN: ${{ secrets.VK_SVETOSLAV_TOKEN }}
    VK_SVETOSLAV_ID: ${{ secrets.VK_SVETOSLAV_ID }}
    VK_TEST_USER: ${{ secrets.VK_TEST_USER }}
    
on:
    push:
        branches:
           - main

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
              - uses: actions/checkout@v2
              - uses: actions/setup-node@v1
                with:
                  node-version: 14.6.0
                  registry-url: https://registry.npmjs.org
              - run: npm install -g typescript
              - run: npm i -D ts-jest
              - run: npm install typescript --save
              - run: npm i
              - run: npm install -g npm@7.3.0
              - run: npm install @types/js-base64 --save-dev
              - run: docker-compose up -d
              - run: docker exec db psql -U admin -c "GRANT USAGE ON SCHEMA public TO <non-admin-user>;"
              - run: docker exec db psql -U admin -c "GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO <non-admin-user>;"
              - run: sleep 60
              - run: npm test
